.etimeclock-main{background-color:#eee;border:1px solid #ccc;margin:0 auto;padding:10px;width:600px}
.etimeclock-body{text-align:center;width:100%}
#etimeclock-epw{color:#000!important}
#etimeclock-status{background-color:#000000aa;color:#0f0;font-size:1.1em;font-weight:700;margin:0 auto;padding:3px;text-align:center;width:100%}
.etimeclock-date,.etimeclock-time{font-size:1.8em}
.buttongrid{display:grid;grid-gap:12px 8px;grid-template-columns:repeat(auto-fit,minmax(280px,1fr));margin-bottom:15px}
.etimeclock-button{display:grid;font-size:1.3em;height:50px;line-height:50px;text-align:center;text-transform:uppercase}
.etimeclock-button a{color:#fff;display:block;height:100%;width:100%}
.etimeclock-button a:hover{backdrop-filter:brightness(.6);color:#eee}
.etimeclock-text{display:inline-block}
.etimeclock-input{border:1px solid #ccc!important;width:250px}
#etimeclock-response-red{color:#F55;font-size:18pt}
#etimeclock-response-green{color:#3EBB9C;font-size:18pt}
@media all and ( max-width: 600px ) {
.etimeclock-main{width:unset}
.etimeclock-button{font-size:1em;margin:0}
.etimeclock-input{width:200px}
}
